<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculate Consonants</title>
</head>
<body>
    <h1>Insert the text here to see the Consonants count</h1>
    <form action="consonants" method="post">
        {% csrf_token %}
        <div>
            <label for="">Enter the text here: </label> <br>
            <textarea name="text" id="" cols="100" rows="7"></textarea>
        </div>

        <input type="submit" value="Calculate Consonants">
    </form>

    {% if consonants_count %}
    <h4>Result: </h4>
    <strong>Consonants Count: </strong> {{ consonants_count }}
    {% endif %}

    <hr>
    <h4>Other Actions: </h4>
    <a href="/"><button>Calculate Words</button></a>
    <a href="/vowels"><button>Calculate Vowels</button></a>
    <a href="/chars"><button>Calculate Characters</button></a>
    <a href="/upper"><button>Convert in Uppercase</button></a>
    <a href="/lower"><button>Convert in lowercase</button></a>
</body>
</html>